<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Project</title>
  </head>
  <body>
    <h1>Multiple Vue Excercises</h1>
    <p>Below are some expamples of how Vue.js can be used to make a website more interactive.
      This code was built with a tutorial form Mammoth Interactive.</p>

    <h2>1. Build Your First Vue Application</h2>
    <div id="firstVueApp">
      {{ text }}
    </div>

    <h2>2. Build A Timer</h2>
    <div id="timer">
      Timer: {{timer}}
    </div>

    <h2>3. Build Reactive Behavior with a Directive</h2>
    <div id="to-hover-element">
      <span v-bind:title="onHoverText">
      <!-- v-bind:title changes text based on a specific action, in this case an alert box
      reading Reactive Message appears two seconds after you hover over the below message -->
        Hover over me to see a reactive title.
      </span>
    </div>

    <h2>4. Enable User Interaction with Vue.js</h2>
    <div id="textToReverse">
        <p> {{ text }}</p>
        <button v-on:click="checkPalindrome">
          Check if Palindrome
        </button>
    </div>

    <h2>5. Enable User Input with Vue.js</h2>
    <div id="inputForm">
      <p> {{ inputText }} </p>
      <input v-model="inputText" />
    </div>

    <h2>6. Hide or Show with conditionals</h2>
    <div id="conditionalVisibility">
      <span v-if="visible">
        Visible content
      </span>
    </div>

    <h2>7. Build a List with Vue.js</h2>
    <div id="list">
      <ol>
        <li v-for="eachItem in listItems">
          {{ eachItem.item }}
        </li>
      </ol>
    </div>

    <h2>8. Interpolate Text and HTML</h2>
    <div id="app">
      <span v-html="html">
    </div>

    <h2>9. Data Properties</h2>
    <div id="app1">
      <p>Examples from this exercise can be seen in the console in the form of numbers 0, 10000 and 5555</p>
    </div>

    <h2>10. Methods</h2>
    <div id="app2">
      <p>Examples from this exercise can be seen in the console with the hellos being printed</p>
    </div>

    <h2>11. Data Properties</h2>
    <h3>Debouncing</h3>
    <script src="https://unpkg.com/lodash@4.17.20/lodash.min.js"></script>
    <div id="">
      <p>Debouncing is not required but it can improve performance</p>
      <p>Debouncing forces a function to wait a certain amount of time before running again. Limits the number of times a function is called.</p>
    </div>

    <h2>12. Loop Through a Range</h2>
    <div id="loop-range">
      <span v-for="number in 20">
        {{ number }}
        <br>
      </span>
    </div>

    <h2>13. Loop Through an Array</h2>
      <ol id="to-loop-list">
        <li v-for="item in items">
          {{ item.content }}
        </li>
      </ol>

      <h2>14. Loop Through an Array with Index</h2>
      <ol id="greeting-array">
        <li v-for="(item, index) in greetings">
          {{ index }} - {{item.content }}
        </li>
      </ol>

      <h2>15. Loop Through an Object</h2>
        <ol id="object-values">
          <li v-for="value in sampleObject">
            {{ value }}
          </li>
        </ol>

      <h2>16. Loop Through an Object and retrieve Value and Key</h2>
        <ol id="dog-list">
          <li v-for="(value, name) in dogObject">
            {{ name }} : {{ value }}
          </li>
        </ol>

      <h2>17. Loop Through Object Key and Index</h2>
        <ul id="cat-list">
          <li v-for="(value, name, index) in catObject">
            {{ index }} - {{ name }}: {{ value }}
          </li>
        </ul>

      <h2>18. Build A Form </h2>
        <div id="form">
          <h3>Create a text Input field</h3>
          <label for="full-name">Full Name</label>
          <input id="full-name" v-model="inputText" placeholder="Jane Doe"/>
          <p> {{ inputText }} </p>

          <h3>Build a Text Area</h3>
            <p>Enter your question</p>
              <p style="white-space:pre-line">
                {{ textAreaContent }}
              </p>
              <textarea v-model="textAreaContent" placeholder="I have a question...">
              </textarea>
          <h3>Build a Drop Down</h3>
            <p>How did you hear about us?</p>
              <select v-model="selected">
                <option v-for="option in options" v-bind:value="option.value">
                  {{ option.text }}
                </option>
              </select>
            <span>{{ selected }}</span>
          <h3>Build Checkboxes</h3>
              <p>Who is this message for?</p>
                <input type="checkbox" id="questions" value="Questions Team" v-model="checkedOptions" />
                <label for="questions">Questions Team</label>
                <br/>
                <input type="checkbox" id="comments" value="Comments Team" v-model="checkedOptions" />
                <label for="comments">Comments Team</label>
                <br/>
                <input type="checkbox" id="head-office" value="Head Office" v-model="checkedOptions" />
                <label for="head-office">Head Office</label>
                <br/>
              <span>Selected: {{ checkedOptions }}</span>
            <h3>Build Radio Buttons</h3>
              <p>What are you inquiring about?
              </p>
                <input type="radio" id="courses" value="Courses" v-model="radioButtonPicked" />
                <label for="courses">Course</label>
                <br/>
                <input type="radio" id="books" value="Books" v-model="radioButtonPicked" />
                <label for="books">Books</label>
                <br/>
                <input type="radio" id="games" value="Games" v-model="radioButtonPicked" />
                <label for="games">Games</label>
                <br/>	
              <span>Chosen: {{ radioButtonPicked }}</span>
        </div>

<script src="script.js"></script>
  </body>
</html>
